{% extends "myadmin/base.html" %}

 
{%block block_name%}
<!-- 主体开始 -->

	<h1>
		Edit Your Profile
	</h1>
	<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_usersinsert' %}" enctype="multipart/form-data" method="post">
	{% csrf_token %}
		<fieldset>
			<legend>添加会员</legend>
			<div class="control-group">
				<label class="control-label" for="input01">username</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='username'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">name</label>
				<div class="controls">
					<input type="passwo" class="input-xlarge" id="input01" name='name'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">passwd</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='passwd' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">sex</label>
				<div class="controls">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name='sex' value="1" />男
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name='sex' value="0" />女
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">address</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='address' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">code</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='code' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">phone</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='phone' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">email</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='email' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">state</label>
				<div class="controls">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="1" />启用
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="2" />禁用
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="0" />后台管理员
				</div>
			</div>
			
			<!-- <div class="control-group">
				<label class="control-label" for="fileInput">Photo</label>
				<div class="controls">
					<input class="input-file" id="fileInput" type="file" />
				</div>
			</div>						
			<div class="control-group">
				<label class="control-label" for="textarea">Biography</label>
				<div class="controls">
					<textarea class="input-xlarge" id="textarea" rows="4">Web technology junkie who writes innovative and bestselling technical books. Also enjoys Sunday bicycle rides and all "good" comedy.</textarea>
				</div>
			</div> -->
									
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>

<!-- 主体结束 -->
{%endblock%}