{% extends "myadmin/base.html" %}

 
{%block block_name%}
<!-- 主体开始 -->

	<h1>
		商品信息表
	</h1>
	<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_goodsinsert' %}" enctype="multipart/form-data" method="post">
	{% csrf_token %}
		<fieldset>
		<legend>添加商品</legend>
			
        	<div class="control-group">
				<label class="control-label" for="input01">商品类别：</label>
				<div class="controls">
					<select name="typeid">
						{% for stu in stulist %}
							<option 
								{% if stu.pid == 0 %}
									disabled
								{% endif %} 						
								value="{{ stu.id }}">{{ stu.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
<!-- 
			<div class="control-group">
				<label class="control-label" for="input01">类别ID</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='typeid'/>
				</div>
			</div> -->
			<div class="control-group">
				<label class="control-label" for="input01">商品名称</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='goods'/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">生产厂家</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='company' />
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="input01">简介</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='descr' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">单价</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='price' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">商品图片</label>
				<div class="controls">
					<input type="file" class="input-xlarge" id="input01" name='pic' />
				</div>
			</div>
		
			<div class="control-group">
				<label class="control-label" for="input01">转改</label>
				<div class="controls">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="1" />新添加
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="2" />在售
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="3" />下架
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">库存量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='store' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">销量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='num' />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">点击量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='clicknum' />
				</div>
			</div>
			

									
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button> 
				<button class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
	
<!-- 主体结束 -->
{%endblock%}
{%block block_js%}

{%endblock%}