{% extends "myadmin/base.html" %}

 
{%block block_name%}
<!-- 主体开始 -->

	<h1>
		商品信息管理
	</h1>
	<form id="edit-profile" class="form-horizontal" action="{% url 'myadmin_goodsupdate' good.id %}" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<input type="hidden" name="oldpicname" value="{{ good.picname }}"/>
		<fieldset>
			<legend>修改商品信息</legend>
			<div class="control-group">
				<label class="control-label" for="input01">商品类别：</label>
				<div class="controls">
					<select name="typeid">
						{% for stu in stulist %}
							<option 
								{% if stu.pid == 0 %}
									disabled
								{% endif %}
								{% if stu.id == goods.typeid %}
									selected
								{% endif %} 						
								value="{{ stu.id }}">{{ stu.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">商品名称</label>
				<div class="controls">
					<input type="passwo" class="input-xlarge" id="input01" name='goods' value="{{ good.goods }}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">生产厂家</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='company' value="{{ good.company }}"/>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="input01">简介</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='descr' value="{{ good.descr }}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">单价</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='price' value="{{ good.price }}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">商品图片</label>
				<div class="controls">
					<input type="file" class="input-xlarge" id="input01" name='pic'/>
				</div>
			</div>

		
		
			<div class="control-group">
				<label class="control-label" for="input01">状态</label>
				<div class="controls">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="1" />新添加
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="2" />在售
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" name="state" value="3" />下架
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">库存量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='store' value="{{ good.store }}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">销量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='num' value="{{ good.num }}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">点击量</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" name='clicknum' value="{{ good.clicknum }}"/>
				</div>
			</div>
			
									
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save</button> <button class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
	<img src="/static/goods/m_{{ good.picname }}"/>


<!-- 主体结束 -->
{%endblock%}
{%block block_js%}

<script type="text/javascript">
	
	   
	 	
	 
	 	
	$("input[name='state'][value='{{ good.state }}']").attr("checked", true);
	
	   

	
</script>
{%endblock%}
