/*商品详情页*/
/*商品详情页*/
/*商品详情页*/




/*准备工作*/
li{list-style:none;}
a{text-decoration: none}
body,div,span,ul,li,a{padding:0;margin:0;}
.row{margin:0;}

/*导航栏*/
	/*清掉导航栏的下边框*/
.navbar{margin-bottom:0;}
	/*减小导航栏里的padding*/
.navbar-nav>li>a{padding:0.5rem;}
	/*左边导航*/
.zdh{margin-left:7.5rem;margin-right:1.5rem;}
	/*右边导航*/
.ydh{margin-left:1.5rem;margin-right:7.5rem;}

/*特效yi*/

.tx1{
	position:absolute;top:150%;
	border-top: 1px solid #E0E0E0;
	display:none;
	background: #fff; z-index:2
}
.tx1_1{background: #fff; z-index:3;}


/*购物车*/
.cart{
	width: 360px;text-align: center;
	height: 300px;line-height: 300px;
	background-color: #666;
	position: absolute;
	border: 4px solid #fff;
	border-radius: 8px;
	top:50px;left:70%;
	display:none;
	float:right;
	z-index:1;
	}
.cart:after,.cart:before {
	border: solid transparent;
	content: ' ';
	height:0;
	left: 80%;
	position: absolute;
	width: 0;
	}
.cart:after {
	border-width: 13px;
	border-bottom-color: #666;
	top: -21px;
	}
.cart:before {
	border-width: 14px;
	border-bottom-color: #666;
	top: -30px;
	}




/*log分类区*/
.lgfl{padding:0;margin:0;}
/*log*/
.log{float:left;margin-top:1.8rem;margin-left:-0.2rem}

/*分类*/
.fl{float:left ;margin-top:2.8rem;/*margin-left:30px*/ }
	/*设置字体样式*/
.nav>li>a{padding:0.6rem;font-size:15px;color:black;}

.nav>li>a:hover{background:white}
/*.f1 ul .nav,.nav-pills{width: 750px;}*/

/*表单*/
.bd{float:left;margin-top:2rem;}
	/*表单框*/
.bd_1{height:4.0rem;width:13.0rem;border:1px solid #b0b0b0;float:right;border-radius:0%;}
.bd_2{
	height:4.0rem;width:4.0rem;border:1px solid #b0b0b0;border-left:none;
	float:right;border-radius:0%;margin-right:0;
}

/*介绍条*/
/*字体*/
.js_zt1{font-size:20px;color:#212121;text-align:center}
.js_zt2 ul li a {
	font-size:14px;color:#616161;float:left;
	text-decoration:none;text-align:center;
	line-height:38px ;
}

/*商品详情*/

/*商品字体*/
.sp_zt1{font-size:18px;color:black;}
.sp_zt2{font-size:14px;color:#FF4A00;text-decoration: none}
.sp_zt3{font-size:12px;color:#B0B0B0;}
.sp_zt6{font-size:15px;color:#787878;margin-top:10px;float:left;}
.sp_zt7{font-size:15px;color:#787878;margin-top:10px;float:right;}
.sp_zt8{font-size:25px;color:#FF4A00;margin-bottom:20px;}
.sp_zt9{
	font-size:20px;color:#FF4A00;text-align:center;line-height:60px;
	background: #fff;margin-top: 20px;border:1px solid #FF4A00;
}
.sp_zt10{font:14px;color:#B0B0B0;}
/*标签字体*/
.sp_zt4{font-size:18px;color:black;margin-top:10px;float:left;}
.sp_zt5{font-size:14px;color:#FF4A00;margin-top:10px;float:right;}
/*选择版本*/
.bt1{
	border:1px solid #E0E0E0;text-align:center;padding-top:20px;
	padding-bottom:20px;background: #fff;
	 }
.bt1_1{float:left;font-size:15px;color:black;}
.bt1_2{float:right;font-size: 15px;color:#B0B0B0;}

.bt2{
	border:1px solid #E0E0E0;text-align:center;padding-top:20px;
	padding-bottom:20px;background: #fff;margin-left:10px;
	 }
.bt2_1{float:left;font-size:15px;color:black;}
.bt2_2{float:right;font-size: 15px;color:#B0B0B0;}
/*选择颜色*/
.bt3{
	border:1px solid #FF6700;font-size:15px;color:#FF6700;
	padding-top:20px;padding-bottom:20px;background: #fff;
}
/*地址*/
.dz{margin-top:20px}


/*结账*/
.jz{background: #F9F9FA;margin-top:20px;}







/*底部*/
.footerzt{background: white;}
	/*底部一*/
	/*图片间距*/
.footer_tp1{margin-right:5px}
.footer_li{float:left;padding:20px 30px;}

	/*底部字体*/
.footer_zt1{font-size:17px;color:black;}
/*帮助*/
.bz{padding:0;}

	/*底部区域二 友情链接*/
.footer2{padding:40px 0;}
/*bug图片*/
.bugt{width:85px;height:28px;}

	/*字体*/
.footer2_zt1{font-size:15px;color:black;}
.footer2_zt2{font-size:12px;color:#757575;}
.footer2_zt3{font-size:20px;color:#FF672F;}
.footer2_zt4{font-size:12px;color:#FF672F;}


/*结局*/
/*字体*/
.jz_zt1 p{font-size:13px;color:#757575;}
.jz_zt2 ul li a{font-size:13px;color:#B0B0B0;}

/*小米*/
.xm{text-align: center;font-size:18px;color:#BABABA;margin-top:20px;margin-bottom:20px;}





/*媒体查询 ipad*/
@media (max-width:768px){

	.meiti1 img{
		width:700px;
		height: 200px;
	}
	.meiti2 img{
		width: 600px;
		height: 200px;
	}
	.meiti3 img{
		width: 600px;
		height: 200px;
	}
/*左边导航*/
.zdh{margin-left:5px;margin-right:1px;}
/*表单框*/
.bd_2{
	height:4.0rem;width:4.0rem;border:1px solid #b0b0b0;border-left:none;
	float:right;border-radius:0%;margin-right:300px}
/*选择版本按钮*/
.bt1{
	border:1px solid #E0E0E0;text-align:center;padding-top:20px;
	padding-bottom:20px;background: #fff;margin-left:10px;margin-bottom:10px;
	 }
/*帮助中心bug*/
.bz{padding-left:15px;}
/*bug图片*/
.bugt{width:180px;height:50px;}




}

/*媒体查询手机端*/
@media (max-width:415px){

	.meiti1 img{
		width: 300px;
		height: 180px;
	}
	.meiti2 img{
		width: 400px;
		height: 200px;
	}
	.meiti3 img{
		width: 400px;
		height: 200px;
	}
/*log*/
.log{float:left;margin-top:40px;margin-left:-0.2rem}
/*表单框*/
.bd_2{
	height:4.0rem;width:4.0rem;border:1px solid #b0b0b0;border-left:none;
	float:right;border-radius:0%;margin-right:100px}
/*选择版本按钮*/
.bt1{
	border:1px solid #E0E0E0;text-align:center;padding-top:20px;
	padding-bottom:20px;background: #fff;margin-left:10px;margin-bottom:10px;
	 }
/*bug图片*/
.bugt{width:80px;height:30px;}

}